<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.acoveo.callcenter.sipclient.view.SoftPhoneViewPart"
            icon="icons/stock_landline-phone.png"
            id="org.acoveo.callcenter.sipclient.SoftPhoneViewPart"
            name="SoftPhone">
      </view>
         
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.acoveo.callcenter.sipclient.preferences.AccountPreferencePage"
            id="org.acoveo.callcenter.sipclient.preferences.AccountPreferencePage"
            name="Account Settings">
      </page>
      <page
            class="org.acoveo.callcenter.sipclient.preferences.SoftPhonePreferencePage"
            id="org.acoveo.callcenter.sipclient.preferences.SoftPhonePreferencePage"
            name="General Phone Settings">
      </page>
      <page
            class="org.acoveo.callcenter.sipclient.preferences.shortcutbuttons.ShortcutButtonGroupsPreferencePage"
            id="org.acoveo.callcenter.sipclient.preferences.shortcutbuttons.ShortcutButtonGroupsPreferencePage"
            name="Shortcut Buttons">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.acoveo.callcenter.sipclient.preferences.SoftPhonePreferenceInitializer">
      </initializer>
      <initializer
            class="org.acoveo.callcenter.sipclient.preferences.AccountPreferenceInitializer">
      </initializer>
      <initializer
      		class="org.acoveo.callcenter.sipclient.preferences.SoftPhonePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Keybindings for the soft phone"
            id="org.acoveo.callcenter.sipclient.categorySoftPhone"
            name="Soft phone">
      </category>
      <command
            categoryId="org.acoveo.callcenter.sipclient.categorySoftPhone"
            defaultHandler="org.acoveo.callcenter.sipclient.actions.GenericCommandHandler"
            description="dial a string"
            id="org.acoveo.callcenter.sipclient.commandDial"
            name="dial">
         <commandParameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               name="dialString"
               values="org.acoveo.callcenter.sipclient.actions.DialParameterValues">
         </commandParameter>
      </command>
      <command
            categoryId="org.acoveo.callcenter.sipclient.categorySoftPhone"
            defaultHandler="org.acoveo.callcenter.sipclient.actions.GenericCommandHandler"
            description="call, answer of the current line"
            id="org.acoveo.callcenter.sipclient.commandCallAnswer"
            name="callAnswer">
      </command>
      <command
            categoryId="org.acoveo.callcenter.sipclient.categorySoftPhone"
            defaultHandler="org.acoveo.callcenter.sipclient.actions.GenericCommandHandler"
            description="clear the call destination"
            id="org.acoveo.callcenter.sipclient.commandClearDestination"
            name="clearDestination">
      </command>
      <command
            categoryId="org.acoveo.callcenter.sipclient.categorySoftPhone"
            defaultHandler="org.acoveo.callcenter.sipclient.actions.GenericCommandHandler"
            description="backspace the call destination"
            id="org.acoveo.callcenter.sipclient.commandBackspaceDestination"
            name="backspaceDestination">
      </command>
      <command
            categoryId="org.acoveo.callcenter.sipclient.categorySoftPhone"
            defaultHandler="org.acoveo.callcenter.sipclient.actions.GenericCommandHandler"
            description="pause unpause the agent"
            id="org.acoveo.callcenter.sipclient.commandPauseUnpause"
            name="pauseUnpause">
      </command>
      <command
            categoryId="org.acoveo.callcenter.sipclient.categorySoftPhone"
            defaultHandler="org.acoveo.callcenter.sipclient.actions.GenericCommandHandler"
            description="hangup the current line"
            id="org.acoveo.callcenter.sipclient.commandHangup"
            name="hangup">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_0">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="0">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_1">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="1">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_2">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="2">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_3">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="3">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_4">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="4">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_5">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="5">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_6">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="6">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_7">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="7">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_8">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="8">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_9">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="9">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_MULTIPLY">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="*">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandDial"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_ADD">
         <parameter
               id="org.acoveo.callcenter.sipclient.commandParameterDialString"
               value="#">
         </parameter>
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandCallAnswer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_ENTER">
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandHangup"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_DECIMAL">
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandBackspaceDestination"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_SUBTRACT">
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandPauseUnpause"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="alt+numpad_multiply">
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandClearDestination"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="NUMPAD_DIVIDE">
      </key>
      <key
            commandId="org.acoveo.callcenter.sipclient.commandBackspaceDestination"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="BS">
      </key>
   </extension>

</plugin>
